.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-show-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  padding-left: 25%;
  padding-right: 25%;
  /* border-radius: 25%; */
  box-shadow: dodgerblue;
  padding-block: 5%;
}

/* .user-show-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  border-radius: 5%;
} */ 

.user-button{
  margin: 5%;
  border: darkblue;
  border-radius: 12px;;
  box-shadow: #282c34;
  box-sizing: border-box;


}
.vehicle-show-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  padding-left: 25%;
  padding-right: 25%;
  /* border-radius: 25%; */
  box-shadow: dodgerblue;
  padding-block: 5%;
}
.vehicle-show-content{
  display: block;
  block-size: auto;
}
.serviceUrl{
  display: flex;
  flex-direction: column;
}
.vehicle-show-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  padding-left: 25%;
  padding-right: 25%;
  
  padding-block: 5%;

}